* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
}

header {
    background-color: rgb(176, 206, 176);
    display: flex;
    color: rgb(5, 88, 5);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: rgb(5, 88, 5);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    background-color: rgb(5, 88, 5);
    color: rgb(176, 206, 176)
}

.hero-banner {
    height: 150px;
    background-image: url("https://t3.ftcdn.net/jpg/03/81/71/16/360_F_381711648_RWNGx4G3NNe7IVksImuHt45wWwL4A1mS.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

.herotext {
    font-size: 30px;
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: rgb(176, 206, 176);
}

.workgrid {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
    grid-template-areas: 
    "project1 project2"
    "project3 project4"
    "project5 project5";
}

.project1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.project2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;}

.project3 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.project4 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.project5 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

.project1 img {
    max-width: 100%;
    height: auto;
  }

  .project2 img {
    max-width: 100%;
    height: auto;
  }

  .project3 img {
    max-width: 100%;
    height: auto;
  }

  .project4 img {
    max-width: 100%;
    height: auto;
  }

  .project5 img {
    max-width: 100%;
    height: auto;
  }

#projectgrid {
    padding: 20px;
    margin: 2px solid black;
}

.project1, .project2, .project3, .project4, .project5 {
    background-color: white;
    padding: 20px;
    border: 2px solid black;
  }

.page-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

#contact {
    margin-left: auto;
}